/JA_002_Estructuras/nbproject/private/
/JA_002_Estructuras/build/
/JA_003_Calculadora/nbproject/private/
/JA_003_Calculadora/build/
/JA_004_Vida/nbproject/private/
/JA_004_Vida/build/
/JA_005_Estructura_Control_Cuestionario_Revisión_Aprendido/nbproject/private/
/JA_005_Estructura_Control_Cuestionario_Revisión_Aprendido/build/
/JA_006_Reto_01/nbproject/private/
/JA_006_Reto_01/build/
/JA_005_Est_Ctrl_Cuest_Rev_Apren/nbproject/private/
/JA_005_Est_Ctrl_Cuest_Rev_Apren/build/
