/JA_002_Estructuras/nbproject/private/
/JA_002_Estructuras/build/
/JA_003_Calculadora/nbproject/private/
/JA_003_Calculadora/build/
/JA_004_Vida/nbproject/private/
/JA_004_Vida/build/
/JA_005_Estructura_Control_Cuestionario_Revisión_Aprendido/nbproject/private/
/JA_005_Estructura_Control_Cuestionario_Revisión_Aprendido/build/
/JA_006_Reto_01/nbproject/private/
/JA_006_Reto_01/build/
/JA_005_Est_Ctrl_Cuest_Rev_Apren/nbproject/private/
/JA_005_Est_Ctrl_Cuest_Rev_Apren/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JA_006_Est_Ctrl_Reto_001/nbproject/private/
/JA_006_Est_Ctrl_Reto_001/build/
/JA_007_Java_Demo/nbproject/private/
/JA_007_Java_Demo/build/
/JA_009_Cajero/nbproject/private/
/JA_009_Cajero/build/
/JA_010_Vida/build/
/JA_010_Vida/nbproject/private/
/naturaleza/nbproject/private/
/JA_011_Naturaleza/nbproject/private/
/JA_011_Naturaleza/build/
/RetoMile/nbproject/private/
/RetoMile/build/
/MileRETOYA/nbproject/private/
/MileRETOYA/build/
/JA_012_PracticaListas/nbproject/private/
/academico/build/
/academico/nbproject/private/
/JA_013_Reto3/nbproject/private/
/JA_013_Reto3/build/
/JA_014_EntradaTexto/target/
/JA_015_EntradaTexto/nbproject/private/
/JA_015_EntradaTexto/build/
/JA_016_ObtenerEntradaUsuario/nbproject/private/
/JA_016_ObtenerEntradaUsuario/build/
/JA_017_For/nbproject/private/
/JA_017_For/build/
/JA_018_Funcion/nbproject/private/
/JA_018_Funcion/build/
/JA_019_School/nbproject/private/
/JA_019_School/build/
/JA_020_MaquinaDeCafe/nbproject/private/
/JA_020_MaquinaDeCafe/build/
/JA_021_Vehiculo/nbproject/private/
/JA_022_Test/nbproject/private/
/JA_022_Test/build/
/JA_023_UniversityStudents/nbproject/private/
/JA_023_UniversityStudents/build/
/JA_024_BancoEmpleado/nbproject/private/
/JA_024_BancoEmpleado/build/
/JA_025_AnimalHerencia/nbproject/private/
/JA_025_AnimalHerencia/build/
/JA_026_Facturación/nbproject/private/
/JA_026_Facturación/build/
/JA_027_Reto_Prueba/nbproject/private/
/JA_027_Reto_Prueba/build/
/JA_028_Supermercado_Futuro/nbproject/private/
/JA_028_Supermercado_Futuro/build/
/facturacion/build/
/facturacion/nbproject/private/
/JA_029_Farmacia_Reto5/nbproject/private/
/JA_029_Farmacia_Reto5/build/
/Producto/nbproject/private/
/Producto/build/
/JA_030_Vehiculo/nbproject/private/
/JA_030_Vehiculo/build/
/facturacion02/build/
/facturacion02/nbproject/private/
/JA_031_Capas_Practica/nbproject/private/
/JA_031_Capas_Practica/build/
/JA_031_Capas_Practica/dist/
/ejerciciopractico/build/
/ejerciciopractico/nbproject/private/
/JA_032_Fibonacci/nbproject/private/
/JA_032_Fibonacci/build/
/JA_033_MVC/nbproject/private/
/JA_033_MVC/build/
/facturacion03/build/
/facturacion03/nbproject/private/
/PesoConstante/nbproject/private/
/PesoConstante/build/
/Reto52/build/
/Reto52/nbproject/private/
/UIS_Reto_05/nbproject/private/
/UIS_Reto_05/build/
/Reto5.2-01/build/
/Reto5.2-01/nbproject/private/
/Reto5.2/nbproject/private/
/Reto5.2/build/
